body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    }

    h1 {
        font-family: Montserrat;
        font-size: 50px;
        display:flex;
        justify-content: center;
        margin-top: 75px;
        }

    h2 {
        display: flex;
        justify-content: center;
        font-family: Jost;
        font-size: 25px;
    }

    p {
        font-family: Jost;
        margin: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }

header{
    background-color: #735D78;
    color: white;
    height: 85px;
    width: 100%;    
}

.sections{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li{
    font-family: Montserrat;
    font-weight: bold;
}

.présentation{
    height: 100vh;
    background-image: linear-gradient(to bottom,#735D78,#B392AC,#D1B3C4,#E8C2CA);
    justify-content: center;
}

.logo{
    width: 50px;
    height: auto;
}

.download{
    display: inline-block;
    padding: 12px 24px;
    background-color: #735D78;
    color: white;
    font-weight: 600;
    font-family: Montserrat;
    border-radius: 2px;
    text-decoration: none;
    justify-content: center;
}

.download:hover {
    background-color: #B392AC;
}

.boutons{
    text-align: center;
}